:root {
  --primary-color: #121212;
  --secondary-color: #1F1F1F;
  --font-color: #FFF;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: white;
}

body, html {
  height: 100vh;
  width: 100%;
}

a {
  color: var(--font-color);
  text-decoration: none;
  display: flex;
  font-weight: bolder;
}

hr {
    border-color: var(--secondary-color);
    margin: 1rem;
}


.page-padding {
  padding: 2rem;

}

.radius {
  border-radius: 10px;
}